<div class="contenedor-login">
    <div class="tarjeta-login">
        <div class="header-login">
            <div class="titulo-login">
                <img class="logo" src="imgs/Vetalmy-logo.png" alt="Logo">
                <h1>VETALMY</h1>
            </div>

            <p>Gestión Veterinaria</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <p-floatLabel variant="on">
                    <input pInputText type="email" id="email" formControlName="email"
                        [class.error]="emailControl?.invalid && emailControl?.touched" />

                    <label for="email">Correo Electrónico</label>

                </p-floatLabel>

                <div class="error-message" *ngIf="emailControl?.invalid && emailControl?.touched">
                    <small *ngIf="emailControl?.errors?.['required']">El email es obligatorio.</small>
                    <small *ngIf="emailControl?.errors?.['email']">Introduce un formato de email válido.</small>
                </div>
            </div>

            <div class="form-group">
                <p-floatLabel variant="on">
                    <input pInputText type="password" id="password" formControlName="password"
                        [class.error]="passwordControl?.invalid && passwordControl?.touched">
                    <label for="password">Contraseña</label>
                </p-floatLabel>

                <div class="error-message" *ngIf="passwordControl?.invalid && passwordControl?.touched">
                    <small *ngIf="passwordControl?.errors?.['required']">La contraseña es obligatoria.</small>
                    <small *ngIf="passwordControl?.errors?.['minlength']">Mínimo 6 caracteres.</small>
                </div>
            </div>

            <div class="registro">
                <p>¿No tienes cuenta? <a routerLink="/registro">Regístrate</a></p>
            </div>

            <button type="submit" [disabled]="loginForm.invalid" class="btn-principal">
                Entrar a la clínica
            </button>

        </form>
    </div>
</div>